<div class="row">
  <div class="small-10 small-centered columns">
    <h1>Settings</h1>

    <%= form_for current_user do |f| %>
    <fieldset>
      <legend>Profile</legend>
      <%= f.label :name %>
      <%= f.text_field :name, :value => current_user.name %>

      <%= f.label :email %>
      <%= f.text_field :email, :value => current_user.email %>

      <%= f.submit "Update", :class => "button small" %>
    </fieldset>
    <% end %>

    <%= form_tag toggle_subscribed_users_url do %>
    <fieldset>
      <legend><%= subscribed_text %></legend>
      <% if current_user.subscribed? %>
      <p>Stop receiving emails. Your events will still be here.</p>
      <% else %>
      <p>Get email reminders a few months before your favorite conferences and hackathons begin.</p>
      <% end %>
      <%= submit_tag subscribed_text, :class => "button small" %>
    </fieldset>
    <% end %>

    <%= form_for current_user, :method => :delete do |f| %>
    <fieldset>
      <legend>Delete my account</legend>
      <%= f.submit "Delete my account*", :class => "button alert small" %>
      <span>&nbsp;* Can not be undone</span>
    </fieldset>
    <% end %>

  </div>
</div>
