<div class="panel">
  <div class="row">
    <div class="large-8 large-centered columns">
      <h2>Stop forgetting. <small>Get email reminders a few months before your favorite conferences and hackathons happen.</small>  </h2>
      <%= form_for @user, :data => { :abide => '' } do |f| %>
      <div class="row">
        <div class="large-6 columns">
          <%= f.text_field :name, :placeholder => 'Name' %>
        </div>

        <div class="large-6 columns">
          <%= f.text_field :email, :placeholder => 'Email', :required => '', :pattern => 'email' %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <%= f.password_field :password, :placeholder => 'Password', :required => '' %>
        </div>
        <div class="large-6 columns">
          <%= f.password_field :password_confirmation, :placeholder => 'Confirm Password', :required => '', :data => { :equalto => 'password'} %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns text-center">
          <%= f.submit "OK", :class => "button tiny" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
