<table>
  <tr>
    <th>Logo</th>
    <th>Name</th>
    <th>Description</th>
    <!-- <th>Type</th> -->
    <th>Location</th>
    <th>Twitter</th>
  </tr>

  <% @events.each do |event| %>
  <tr>
    <td><%= image_tag(event.logo) %></td>
    <td><%= link_to(event.name, event.website_url) %></td>
    <td><%= event.description %></td>
    <!-- <td><%= event.event_type %></td> -->
    <td><%= event.location %></td>
    <td><%= link_to("@#{event.twitter_handle}", "https://www.twitter.com/#{event.twitter_handle}") %></td>
  </tr>
  <% end %>
</table>

