<ul class="pricing-table">
  <li class="price">
    <%= image_tag(@event.logo) %>
    Craft Conference
  </li>
  <li class="description"><%= @event.description %></li>
  <li class="bullet-item"><%= link_to(@event.website_url, @event.website_url) %></li>
  <li class="bullet-item"><%= link_to("@#{@event.twitter_handle}", "https://www.twitter.com/#{@event.twitter_handle}") %></li>
  <li class="bullet-item">Date: <%= @event.start_date %> - <%= @event.end_date %></li>
  <li class="bullet-item"><%= @event.event_type %></li>
</ul>
