<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag('favicon.ico') %>

    <title><%= content_for?(:title) ? yield(:title) : "ls tech-events" %></title>

    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/modernizr", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'Tech Events, Updated Weekly', root_url %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <% if current_user %>
          <li class="divider"></li>
          <li><%= link_to current_user.name_or_email, user_path(current_user) %></li>
          <li class="divider"></li>
          <li><%= link_to 'Log Out', logout_path %></li>
          <% else %>
          <li><%= link_to "Sign up", signup_path, :class => 'button' %></li>
          <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>

    <div class="row">
      <% if !flash.empty? %>
      <div data-alert class="alert-box success radius">
        <% flash.each do |key, value| %>
          <%= content_tag(:span, value, :class => "flash #{key}") %>
        <% end %>
        <a href="#" class="close">&times;</a>
      </div>
      <% end %>

      <%= yield %>
    </div>

    <footer>
      <div class="row text-center">
        <a href="https://twitter.com/dianagliu">
          <i class="fi-social-twitter"></i>
        </a>

        <a href="https://github.com/dianaliu/ls-tech-events">
          <i class="fi-social-github"></i>
        </a>
      </div>
    </footer>

    <%= render 'google_analytics' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>