<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag('favicon.ico') %>

    <title><%= content_for?(:title) ? yield(:title) : "ls tech-events" %></title>

    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/modernizr", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <%= yield %>
    </div>

    <footer>
      <div class="row text-center">
        <a href="https://twitter.com/dianagliu">
          <i class="fi-social-twitter"></i>
        </a>

        <a href="https://github.com/dianaliu/ls-tech-events">
          <i class="fi-social-github"></i>
        </a>
      </div>
    </footer>

    <%= render 'google_analytics' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>